:root {
    --default-transition: all .4s ease-in-out;
    /* --default-background: rgba(20, 20, 41, 0.514); */
    --default-background: black;
    --default-color: whitesmoke;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#footer-container {
    transition: var(--default-transition);
    background: var(--default-background);
    color: var(--default-color);
    width: 100vw;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
    margin: 10px 0;
    gap: 20px;
    border-top: 2px solid var(--default-color);
}

#footer-container h3 {
    transition: var(--default-transition);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#footer-container h3 span {
    transition: var(--default-transition);
    font-family: "algerian";
    opacity: .7;
}

#footer-container h3 p {
    transition: var(--default-transition);
    font-family: "papyrus";
    opacity: .7;
}

#footer-container #footer-links {
    transition: var(--default-transition);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14pt;
}

#footer-container #footer-links #logo {
    transition: var(--default-transition);
    width: calc(100% / 3 - 5%);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-container #footer-links #logo img {
    transition: var(--default-transition);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#footer-container #footer-links ul {
    transition: var(--default-transition);
    height: 100px;
    width: calc(100% / 3 - 5%);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    list-style: none;
    cursor: pointer;
}

#footer-container #footer-links ul .links {
    transition: var(--default-transition);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
}

#footer-container #footer-links ul a {
    transition: var(--default-transition);
    text-decoration: none;
    color: var(--default-color);
}

#footer-container #footer-links ul a:hover {
    transition: var(--default-transition);
    font-weight: 900;
}

/* #footer-container #footer-links ul:not(:last-child) {
    border-right: 2px solid var(--default-color);
} */

#footer-container #footer-bottom {
    transition: var(--default-transition);
    width: 100%;
    text-align: center;
    font-family: "palatino lotipe", "times new roman";
}