:root {
    --background: black;
    --background-rgba: rgba(0, 0, 0, 0.669);
    --default-transition: all .4s ease-in-out;
    --scroll-background: transparent;
    --scroll-color: rgba(255, 255, 255, 0.443);
    --default-color: whitesmoke;
    --button-color: rgba(2, 2, 27, 0.957);
    --button-opacity: 0.8;
    --ads-buttons-background: rgba(0, 0, 0, 0.345);
    --box-z-index: 20;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    background: var(--scroll-background);
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-color);
    border-radius: 20px;
}

body {
    transition: var(--default-transition);
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background: var(--background);
    color: var(--default-color);
    overflow-x: hidden;
}

#container {
    transition: var(--default-transition);
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#container #space {
    transition: var(--default-transition);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
}

#container #space .space-buttons {
    transition: var(--default-transition);
    position: relative;
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--default-color);
    color: var(--button-color);
    font-weight: 900;
    opacity: var(--button-opacity);
    border: 4px solid var(--default-color);
}

@media screen and (max-width: 500px) {
    #container #space .space-buttons {
        transition: var(--default-transition);
        width: 100px;
        height: 35px;
        font-size: 12pt;
    }

}

#container #space .space-buttons:active {
    transition: var(--default-transition);
    transform: scale(0.7);
}

#container #space .space-buttons:hover {
    transition: var(--default-transition);
    cursor: pointer;
    background: 0 0;
    box-shadow: 0 3px 10px var(--default-color);
}

#container #space .space-buttons a {
    transition: var(--default-transition);
    color: var(--button-color);
    font-size: 11pt;
    text-decoration: none;
}

#container #space .space-buttons:hover a {
    transition: var(--default-transition);
    color: var(--default-color);
}

#container #space .space-buttons::before {
    transition: var(--default-transition);
    content: "";
    position: absolute;
    top: -3px;
    left: 50%;
    width: 0;
    height: 2px;
    background: var(--background);
}

#container #space .space-buttons:hover::before {
    transition: var(--default-transition);
    content: "";
    left: 0;
    width: 100%;
}

#container #space .space-buttons::after {
    transition: var(--default-transition);
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    width: 0;
    height: 2px;
    background: var(--background);
}

#container #space .space-buttons:hover::after {
    transition: var(--default-transition);
    content: "";
    left: 0;
    width: 100%;
}

#container #space .space-buttons:hover::after {
    transition: var(--default-transition);
    content: "";
    left: 0;
    width: 100%;
}

#container #space #space-profile {
    transition: var(--default-transition);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#container #space #space-name {
    transition: var(--default-transition);
    width: 150px;
    transform: translateY(2px);
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}

@media screen and (max-width: 700px) {
    #container #space #space-name {
        display: none;
    }
}

#container #space #theme-icon {
    transition: var(--default-transition);
    font-size: 20pt;
    color: var(--default-color);
    transform: translateY(2px);
    filter: drop-shadow(0 5px 5px var(--default-color));
    margin-right: 10px;
}

#container #space #theme-icon:hover {
    transition: var(--default-transition);
    transform: translateY(2px) scale(1.1);
}

#container #space #theme-icon:active {
    transition: var(--default-transition);
    transform: translateY(2px) scale(.7);
}

@media screen and (max-width: 500px) {
    #container #space #theme-icon {
        display: none;
    }
}

#container #contain-one {
    transition: var(--default-transition);
    position: relative;
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 700px) {
    #container #contain-one {
        transition: var(--default-transition);
        width: 90%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

#container #contain-one #contain-img {
    transition: var(--default-transition);
    width: 50%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

@media screen and (max-width: 700px) {
    #container #contain-one #contain-img {
        transition: var(--default-transition);
        width: 100%;
        height: 100%;
    }
}

#container #contain-one #contain-img .img {
    transition: var(--default-transition);
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-position: center;
}

@media screen and (max-width: 700px) {
    #container #contain-one #contain-img .img {
        transition: var(--default-transition);
        width: 100%;
    }
}

#container #contain-one #contain-information {
    transition: var(--default-transition);
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 700px) {
    #container #contain-one #contain-information {
        transition: var(--default-transition);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    
    #container #contain-one #contain-information #contain-text {
        transition: var(--default-transition);
        opacity: .4;
    }
    
    #container #contain-one #contain-information #contain-text:hover {
        transition: var(--default-transition);
        opacity: 1;
        background: var(--background-rgba);
    }
}

#container #contain-one #contain-information #contain-text {
    transition: var(--default-transition);
    width: 100%;
    height: 80%;
    overflow: auto;
}

#container #contain-one #contain-information #contain-text p {
    transition: var(--default-transition);
    padding: 20px;
    text-align: justify;
}

#container #contain-one #contain-information #contain-button {
    transition: var(--default-transition);
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container #contain-one #contain-information #contain-button #buy-button {
    transition: var(--default-transition);
    position: relative;
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--default-color);
    color: var(--button-color);
    font-weight: 900;
    opacity: var(--button-opacity);
    border: 4px solid var(--default-color);
    z-index: 1;
}

#container #contain-one #contain-information #contain-button #buy-button:active {
    transition: var(--default-transition);
    transform: scale(0.7);
}

#container #contain-one #contain-information #contain-button #buy-button:hover {
    transition: var(--default-transition);
    cursor: pointer;
    background: 0 0;
    box-shadow: 0 3px 10px var(--default-color);
}

#container #contain-one #contain-information #contain-button #buy-button,
#container #contain-one #contain-information #contain-button #buy-button a {
    transition: var(--default-transition);
    color: var(--button-color);
    font-size: 11pt;
    text-decoration: none;
}

#container #contain-one #contain-information #contain-button #buy-button:hover,
#container #contain-one #contain-information #contain-button #buy-button:hover a {
    transition: var(--default-transition);
    color: var(--default-color);
}

#container #contain-one #contain-information #contain-button #buy-button::before {
    transition: var(--default-transition);
    content: "";
    position: absolute;
    top: -3px;
    left: 50%;
    width: 0;
    height: 2px;
    background: var(--background);
}

#container #contain-one #contain-information #contain-button #buy-button:hover::before {
    transition: var(--default-transition);
    content: "";
    left: 0;
    width: 100%;
}

#container #contain-one #contain-information #contain-button #buy-button::after {
    transition: var(--default-transition);
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    width: 0;
    height: 2px;
    background: var(--background);
}

#container #contain-one #contain-information #contain-button #buy-button:hover::after {
    transition: var(--default-transition);
    content: "";
    left: 0;
    width: 100%;
}

#container #contain-one #contain-information #contain-button #buy-button:hover::after {
    transition: var(--default-transition);
    content: "";
    left: 0;
    width: 100%;
}

#container #contain-one #contain-scroll-buttons {
    transition: var(--default-transition);
    position: absolute;
    left: 0;
    bottom: 23px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

@media screen and (min-width: 700px) {
    #container #contain-one #contain-scroll-buttons {
        transition: var(--default-transition);
        bottom: 50%;
        width: 50%;
    }
}

#container #contain-one #contain-scroll-buttons .fa {
    transition: var(--default-transition);
    font-size: 25pt;
    color: var(--default-color);
    cursor: pointer;
    opacity: .4;
}

#container #contain-one #contain-scroll-buttons .fa:hover {
    transition: var(--default-transition);
    opacity: 1;
    transform: scale(1.1);
}

#container #contain-one #contain-scroll-buttons .fa:active {
    transition: var(--default-transition);
    opacity: 1;
    transform: scale(.7);
}