#contain-box {
    transition: var(--default-transition);
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: var(--background-rgba);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--box-z-index);
}

#contain-box #box {
    transition: var(--default-transition);
    width: 350px;
    height: 200px;
    background: var(--background-rgba);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--default-color);
    border-radius: 20px;
    box-shadow: 0 5px 10px var(--default-color);
    padding: 20px;
    animation: showWarning .5s 1 linear;
}

#contain-box.contain-box-hide #box {
    transition: var(--default-transition);
    animation: hideWarning .5s 1 linear !important;
}

@keyframes showWarning {
    0% {
        width: 400px;
        height: 300px;
    }

    50% {
        width: 300px;
        height: 150px;
    }

    100% {
        width: 350px;
        height: 200px;
    }
}

#contain-box #box-message {
    transition: var(--default-transition);
    width: 100%;
    color: var(--default-color);
    overflow: auto;
    text-align: justify;
    animation: textBoxMessage .5s 1 linear;
}

@keyframes textBoxMessage {
    0% {
        font-size: 5pt;
    }
    100% {
        font-size: 13pt;
    }
}

#contain-box #contain-box-buttons {
    transition: var(--default-transition);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#contain-box #contain-box-buttons .button-box {
    transition: var(--default-transition);
    position: relative;
    width: 130px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--default-color);
    color: var(--button-color);
    font-weight: 900;
    opacity: var(--button-opacity);
    border: 4px solid var(--default-color);
    color: var(--button-color);
    font-size: 13pt;
}

#contain-box #contain-box-buttons .button-box:active a,
#messageBox #messageBox-but#contain-box-buttons .button-box:active {
    transition: var(--default-transition);
    transform: scale(0.7);
}

#contain-box #contain-box-buttons .button-box:hover {
    transition: var(--default-transition);
    cursor: pointer;
    background: transparent;
    box-shadow: 0 3px 10px var(--default-color);
}

#contain-box #contain-box-buttons .button-box a {
    transition: var(--default-transition);
    color: var(--button-color);
    font-size: 11pt;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: -10;
    width: 100%;
    height: 100%;
}

#contain-box #contain-box-buttons .button-box:hover a,
#contain-box #contain-box-buttons .button-box:hover {
    transition: var(--default-transition);
    color: var(--default-color);
}

#contain-box #contain-box-buttons .button-box::before {
    transition: var(--default-transition);
    content: "";
    position: absolute;
    top: -3px;
    left: 50%;
    width: 0;
    height: 2px;
    background: var(--background);
}

#contain-box #contain-box-buttons .button-box:hover::before {
    transition: var(--default-transition);
    content: "";
    left: 0;
    width: 100%;
}

#contain-box #contain-box-buttons .button-box::after {
    transition: var(--default-transition);
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    width: 0;
    height: 2px;
    background: var(--background);
}

#contain-box #contain-box-buttons .button-box:hover::after {
    transition: var(--default-transition);
    content: "";
    left: 0;
    width: 100%;
}

#contain-box #contain-box-buttons .button-box .fa {
    transition: var(--default-transition);
    position: absolute;
    top: 12%;
    left: 10px;
    font-size: 15pt;
}

#messageBox {
    transition: var(--default-transition);
    position: fixed;
    bottom: 50px;
    left: 20px;
    width: 350px;
    height: 200px;
    background: var(--background);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    color: var(--default-color);
    border: 2px solid var(--default-color);
    box-shadow: 0 5px 10px var(--default-color);
    padding: 20px;
    gap: 10px;
    opacity: 1;
    z-index: var(--box-z-index);
    animation: boxShow 1s 1 linear;
}

#messageBox.box-hided {
    transition: var(--default-transition);
    animation: boxHide 1s 1 linear !important;
}

#messageBox.box-hidden {
    transition: var(--default-transition);
    left: -500px !important;
}

@keyframes boxShow {
    0% {
        left: -200px;
    }
    
    100% {
        left: 20px;
    }
}

@keyframes boxHide {
    0% {
        left: 0;
    }
    
    50% {
        left: 50px;
    }
    
    100% {
        left: -200px;
    }
}

@media screen and (max-width: 500px) {
    #messageBox {
        transition: var(--default-transition);
        width: 90vw;
    }
}

#messageBox #messageBox-text {
    transition: var(--default-transition);
    text-align: justify;
    font-size: 14pt;
    font-family: "times new roman", "forte";
    width: 100%;
    /* height: 70%; */
    overflow: auto;
    padding: 10px 20px;
}

#messageBox #messageBox-buttons {
    transition: var(--default-transition);
    width: 100%;
    /* height: 30%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#messageBox #messageBox-buttons button {
    transition: var(--default-transition);
    position: relative;
    width: 130px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--default-color);
    color: var(--button-color);
    font-weight: 900;
    opacity: var(--button-opacity);
    border: 4px solid var(--default-color);
    color: var(--button-color);
    font-size: 13pt;
}

@media screen and (max-width: 500px) {
    #messageBox #messageBox-buttons button {
        transition: var(--default-transition);
        width: 120px;
    }
}

#messageBox #messageBox-buttons button:active a,
#messageBox #messageBox-buttons button:active {
    transition: var(--default-transition);
    transform: scale(0.7);
}

#messageBox #messageBox-buttons button:hover {
    transition: var(--default-transition);
    cursor: pointer;
    background: transparent;
    box-shadow: 0 3px 10px var(--default-color);
}

#messageBox #messageBox-buttons button a {
    transition: var(--default-transition);
    color: var(--button-color);
    font-size: 11pt;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: -10;
    width: 100%;
    height: 100%;
}

#messageBox #messageBox-buttons button:hover a,
#messageBox #messageBox-buttons button:hover {
    transition: var(--default-transition);
    color: var(--default-color);
}

#messageBox #messageBox-buttons button::before {
    transition: var(--default-transition);
    content: "";
    position: absolute;
    top: -3px;
    left: 50%;
    width: 0;
    height: 2px;
    background: var(--background);
}

#messageBox #messageBox-buttons button:hover::before {
    transition: var(--default-transition);
    content: "";
    left: 0;
    width: 100%;
}

#messageBox #messageBox-buttons button::after {
    transition: var(--default-transition);
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    width: 0;
    height: 2px;
    background: var(--background);
}

#messageBox #messageBox-buttons button:hover::after {
    transition: var(--default-transition);
    content: "";
    left: 0;
    width: 100%;
}

#messageBox #messageBox-buttons button .fa {
    transition: var(--default-transition);
    position: absolute;
    top: 12%;
    left: 10px;
    font-size: 15pt;
}

#alertBox {
    transition: var(--default-transition);
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(35vw);
    width: 350px;
    height: 120px;
    /* height: 200px; */
    background: var(--background);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    color: var(--default-color);
    border: 2px solid var(--default-color);
    box-shadow: 0 5px 10px var(--default-color);
    padding: 20px;
    gap: 10px;
    z-index: var(--box-z-index);
    opacity: 1;
    animation: alertShow 1s 1 linear;
}

#alertBox.alertHide {
    transition: var(--default-transition);
    animation: alertHide 1s 1 linear !important;
}

#alertBox.alertHidden {
    transition: var(--default-transition);
    top: -200px !important;
}

@keyframes alertShow {
    0% {
        top: -200px;
    }

    100% {
        top: 0;
    }
}

@keyframes alertHide {
    0% {
        top: -10px;
    }

    50% {
        top: 50px;
    }

    100% {
        top: -200px;
    }
}

@media screen and (max-width: 850px) {
    #alertBox {
        transition: var(--default-transition);
        transform: translate(30vw);
    }
}

@media screen and (max-width: 710px) {
    #alertBox {
        transition: var(--default-transition);
        transform: translate(25vw);
    }
}

@media screen and (max-width: 600px) {
    #alertBox {
        transition: var(--default-transition);
        transform: translate(20vw);
    }
}

@media screen and (max-width: 510px) {
    #alertBox {
        transition: var(--default-transition);
        transform: translate(15vw);
        width: 250px;
        /* height: 170px; */
    }
}

#alertBox #alertBox-text {
    transition: var(--default-transition);
    text-align: justify;
    font-size: 14pt;
    font-family: "times new roman", "forte";
    width: 100%;
    /* height: 70%; */
    overflow: auto;
    padding: 10px 20px;
}

#alertBox #alertBox-buttons {
    transition: var(--default-transition);
    width: 100%;
    /* height: 30%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#alertBox #alertBox-buttons button {
    transition: var(--default-transition);
    position: relative;
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--default-color);
    color: var(--button-color);
    font-weight: 900;
    opacity: var(--button-opacity);
    border: 4px solid var(--default-color);
    color: var(--button-color);
    font-size: 13pt;
}

#alertBox #alertBox-buttons button:active a,
#alertBox #alertBox-buttons button:active {
    transition: var(--default-transition);
    transform: scale(0.7);
}

#alertBox #alertBox-buttons button:hover {
    transition: var(--default-transition);
    cursor: pointer;
    background: transparent;
    box-shadow: 0 3px 10px var(--default-color);
}

#alertBox #alertBox-buttons button a {
    transition: var(--default-transition);
    color: var(--button-color);
    font-size: 11pt;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: -10;
    width: 100%;
    height: 100%;
}

#alertBox #alertBox-buttons button:hover a,
#alertBox #alertBox-buttons button:hover {
    transition: var(--default-transition);
    color: var(--default-color);
}

#alertBox #alertBox-buttons button::before {
    transition: var(--default-transition);
    content: "";
    position: absolute;
    top: -3px;
    left: 50%;
    width: 0;
    height: 2px;
    background: var(--background);
}

#alertBox #alertBox-buttons button:hover::before {
    transition: var(--default-transition);
    content: "";
    left: 0;
    width: 100%;
}

#alertBox #alertBox-buttons button::after {
    transition: var(--default-transition);
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    width: 0;
    height: 2px;
    background: var(--background);
}

#alertBox #alertBox-buttons button:hover::after {
    transition: var(--default-transition);
    content: "";
    left: 0;
    width: 100%;
}

#alertBox #alertBox-buttons button .fa {
    transition: var(--default-transition);
    position: absolute;
    top: 12%;
    left: 10px;
    font-size: 15pt;
}

#alertBox #alert-close {
    transition: var(--default-transition);
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 20pt;
    cursor: pointer;
}

#alertBox #alert-close:hover {
    transition: var(--default-transition);
    transform: scale(1.1);
}

#alertBox #alert-close:active {
    transition: var(--default-transition);
    transform: scale(.7);
}

.box-hidden {
    opacity: 0 !important;
    z-index: -50 !important;
}