:root {
    --background: black;
    --background-rgba: rgba(0, 0, 0, 0.669);
    --default-transition: all .4s ease-in-out;
    --scroll-background: transparent;
    --scroll-color: rgba(255, 255, 255, 0.443);
    --default-color: whitesmoke;
    --button-color: rgba(2, 2, 27, 0.957);
    --button-opacity: 0.8;
    --ns-background: rgba(0, 0, 0, 0.345);
    --box-z-index: 20;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    background: var(--scroll-background);
}

*::-webkit-scrollbar-thumb {
    background: var(--scroll-color) !important;
    border-radius: 20px;
}

body {
    transition: var(--default-transition);
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background: var(--background);
    color: var(--default-color);
    overflow-x: hidden;
}

#container {
    transition: var(--default-transition);
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#container #space {
    transition: var(--default-transition);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    margin-bottom: 60px;
}

#container #space .space-buttons {
    transition: var(--default-transition);
    position: relative;
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--default-color);
    color: var(--button-color);
    font-weight: 900;
    opacity: var(--button-opacity);
    border: 4px solid var(--default-color);
}

@media screen and (max-width: 500px) {
    #container #space .space-buttons {
        transition: var(--default-transition);
        width: 100px;
        height: 35px;
        font-size: 12pt;
    }
}

#container #space .space-buttons:active {
    transition: var(--default-transition);
    transform: scale(0.7);
}

#container #space .space-buttons:hover {
    transition: var(--default-transition);
    cursor: pointer;
    background: 0 0;
    box-shadow: 0 3px 10px var(--default-color);
}

#container #space .space-buttons a {
    transition: var(--default-transition);
    color: var(--button-color);
    font-size: 11pt;
    text-decoration: none;
}

#container #space .space-buttons:hover a {
    transition: var(--default-transition);
    color: var(--default-color);
}

#container #space .space-buttons::before {
    transition: var(--default-transition);
    content: "";
    position: absolute;
    top: -3px;
    left: 50%;
    width: 0;
    height: 2px;
    background: var(--background);
}

#container #space .space-buttons:hover::before {
    transition: var(--default-transition);
    content: "";
    left: 0;
    width: 100%;
}

#container #space .space-buttons::after {
    transition: var(--default-transition);
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    width: 0;
    height: 2px;
    background: var(--background);
}

#container #space .space-buttons:hover::after {
    transition: var(--default-transition);
    content: "";
    left: 0;
    width: 100%;
}

#container #space .space-buttons:hover::after {
    transition: var(--default-transition);
    content: "";
    left: 0;
    width: 100%;
}

#container #space #space-profile {
    transition: var(--default-transition);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#container #space #space-name {
    transition: var(--default-transition);
    width: 150px;
    transform: translateY(2px);
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    letter-spacing: 4px;
}

@media screen and (max-width: 700px) {
    #container #space #space-name {
        display: none;
    }
}

#container #space #theme-icon {
    transition: var(--default-transition);
    font-size: 20pt;
    color: var(--default-color);
    transform: translateY(2px);
    filter: drop-shadow(0 5px 5px var(--default-color));
    margin-right: 10px;
}

#container #space #theme-icon:hover {
    transition: var(--default-transition);
    transform: translateY(2px) scale(1.1);
}

#container #space #theme-icon:active {
    transition: var(--default-transition);
    transform: translateY(2px) scale(.7);
}

@media screen and (max-width: 500px) {
    #container #space #theme-icon {
        display: none;
    }
}

#container #content {
    transition: var(--default-transition);
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#container #content p {
    transition: var(--default-transition);
    width: 100%;
    height: 100%;
    text-align: justify;
    font-size: 13pt;
}